In [51]:
# Import Dependencies
from pathlib import Path
from sklearn.preprocessing import StandardScaler, LabelEncoder, MinMaxScaler
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.datasets import make_regression
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.model_selection import train_test_split

In [52]:
collegeData_df= pd.read_csv(Path("../Resources/College_Data.csv"))
collegeData_df.head()

,Name,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [53]:
# Drop the unbeneficial Column
collegeData_df=collegeData_df.drop(columns=["Name"])
collegeData_df.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [54]:
# Remove 'Private' target from features data 
y = collegeData_df.Private.values
X = collegeData_df.drop(columns='Private').values

# Split train/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [55]:
# Create a StandardScaler instances
Scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = StandardScaler().fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [56]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=1000)
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9484536082474226
Testing Data Score: 0.9230769230769231

C:\Users\Tech\anaconda3\envs\pythondata\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [47]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf_rfc = RandomForestClassifier(random_state=42, n_estimators=200).fit(X_train, y_train)


print(f"Training Score: {clf_rfc.score(X_train, y_train)}")
print(f"Testing Score: {clf_rfc.score(X_test, y_test)}")

Training Score: 1.0
Testing Score: 0.9282051282051282

In [48]:
# Scale the data
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[-0.53189339, -0.50682536, -0.37496417, ...,  1.2364731 ,
         0.04786618,  0.27045901],
       [-0.59559738, -0.59358928, -0.58705239, ...,  0.26422269,
        -0.16811506, -0.13672872],
       [-0.46540867, -0.54897953, -0.31605077, ...,  0.66932703,
        -0.48534954, -2.57985511],
       ...,
       [-0.58396887, -0.55061659, -0.54420629, ...,  0.42626443,
        -0.40353846, -0.60208613],
       [ 0.08315346, -0.11720625, -0.60204853, ..., -0.87006945,
         0.10195773, -0.48574678],
       [ 0.17087284, -0.3279771 , -0.37603532, ..., -0.38394425,
         0.07385322, -0.02038937]])

In [49]:
# Train the Logistic Regression model on the scaled data and print the model score
clf_lr = LogisticRegression().fit(X_train_scaled, y_train)

print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.6769759450171822
Testing Data Score: 0.6153846153846154

In [50]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf_rf = RandomForestClassifier(random_state=42, n_estimators=500).fit(X_train_scaled, y_train)

print(f"Testing Score: {clf_rf.score(X_test_scaled, y_test)}")
print(f"Training Data Score: {clf_rf.score(X_train_scaled, y_train)}")

Testing Score: 0.9282051282051282
Training Data Score: 1.0